.about {
    padding: 25px 0px;

    .title {
        padding-bottom: 25px;
        margin-bottom: 25px;
        font-size: 18px;
        border-bottom: solid 0.3px #B4B4B4;
    }

    p {
        line-height: 26px;
        margin-bottom: 10px;
    }
}